# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.project
.classpath
.target

# Maven
/**/target/
.mvn/

# IntelliJ
.idea/
*.iml

# Java
*.class

# Package Files
*.war
*.ear

# Mac System files
.DS_Store

# Others
/admin/
/.externalToolBuilders/
/catalina.home_IS_UNDEFINED/
catalina.home_IS_UNDEFINED/
/logs/
/upload/