<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
  	<!-- 版本号 -->
  	<span th:fragment="projectName">Lhh Frame Spring Boot运营管理平台</span>
  	<!-- 版本号 -->
  	<span th:fragment="version">V2.0  to thymeleaf </span>
  	
  	<!-- 需要映入的css和js -->
    <div th:fragment="cssAndJs">
	    <meta charset="utf-8" />
	    <meta name="renderer" content="webkit" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </div>
    
  </body>
</html> 